/* Reset and basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --base-color: #fe5530;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Full height introduction */
.intro {
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: flex-start; /* Left align text */
    align-items: center;
    text-align: left; /* Left align text */
    padding-left: 20px; /* Adjust left padding for spacing */
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%), url('your-background-image.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 80px; /* Adjust top padding for spacing */
}

.intro-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro h1, .intro h2, .intro h3 {
    font-weight: bolder;
    line-height: 1;
    margin-bottom: 10px;
    white-space: nowrap;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
}

.intro h1 {
    font-size: min(calc(100vh / 3), calc(100vw / 8)); /* Adjust font size for 1/3 viewport height */
    text-transform: uppercase;
    &::first-letter {
        padding-right: .025em;
    }
}

.intro h2 {
    font-size: min(calc(100vh / 3), calc(100vw / 8)); /* Adjust font size for 1/3 viewport height */
    text-transform: uppercase;
}
.intro h3 {
    font-size: min(calc(100vh / 3), calc(100vw / 8)); /* Adjust font size for 1/3 viewport height */
    font-weight: 900;
    font-style: italic;
    background: linear-gradient(90deg, #292323, #ffffff, #292323);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    animation: shine 2s linear infinite;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    display: inline;
    padding-right: .2em;
}
.intro span[class]:after {
    font-size: min(calc(100vh / 3), calc(100vw / 10));
}

.intro span.Developer:after { content: "🥷🏻"; }
.intro span.Baller:after { content: "🏀"; }
.intro span.Designer:after { content: "💭"; }
.intro span.Drummer:after { content: "🥁"; }
.intro span.Learner:after { content: "📚"; }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@keyframes shine {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}


/* Basic styles for the cv section */
.cv {
    background-color: #161b22;
    padding: 50px 20px;
    font-family: 'Roboto', sans-serif;
}

.cv .timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.cv .timeline-header {
    text-align: center;
    margin-bottom: 60px;
}

.cv .timeline-header h1 {
    font-size: 4em;
    margin-bottom: 10px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
}

.cv .timeline-header p, .cv .timeline-header a {
    color: #8b949e;
}

.cv .timeline-item {
    position: relative;
    padding: 0 0 40px;
    /* border-left: 2px solid #ddd; */
    margin-left: 20px;
    padding-left: 25px;
    --adjusted-color: var(--base-color);
}

.cv .timeline-item::before {
    content: '';
    position: absolute;
    left: -14px;
    top: 2px;
    width: 22px;
    height: 12px;
    background-color: var(--adjusted-color);
    border: 2px solid var(--adjusted-color);
    border-radius: 35%;
}

.cv .timeline-year {
    font-size: 1.1em;
    font-weight: bold;
    color: #8b949e;
    margin-bottom: 10px;
}

.cv .timeline-content h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
}

.cv .timeline-content h4 {
    font-size: 1.2em;
    color: #8b949e;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
}

.cv .timeline-content p {
    font-size: 1em;
    color: #8b949e;
}

/* Add animations */
.cv .timeline-item {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
}

.cv .timeline-item.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Styles for the scroll link */
.scroll-down {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4em;
    color: #f9f9f949;
    text-decoration: none;
    animation: bounce 6s infinite;
}

.scroll-down:hover, .scroll-down:focus {
    color: #f9f9f9;
}

.scroll-down i {
    font-size: 1.4em;
}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}

/* Keyframes for bounce animation */
@keyframes bounce {
    0%, 4%, 12%, 28%, 50%, 100% {
        transform: translateY(0);
    }
    8% {
        transform: translateY(-10px);
    }
    18% {
        transform: translateY(-5px);
    }
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

.logo {
    position: fixed;
    top: 20px;
    left: 40px;
    font-size: 2em;
    line-height: 2em;
     width: 1.6em;
     opacity: 1;
     display: flex;
     z-index: 1000;
   }

   .logo h1:before {
     position: absolute;
     content: "";
     height: 1.2em;
     width: 1.2em;
     left: -6px;
     top: -8px;
     border-radius: 50%;
     border: 10px solid #ff6944;
     z-index: -1;
     filter: drop-shadow(2px 3px 1px #a42d13);
   }

   .logo h1 {
     z-index: 1;
     font-size: 1.6em;
     font-family: 'Work Sans', sans-serif;
     font-weight: 900;
     text-shadow: 0 1px 0px #a42d13,
       1px 0 0px #a42d13,
       -1px -2px 1px #a42d13,
       -2px 2px 1px #a42d13,
       1px 2px 1px #a42d13,
       2px 1px 1px #a42d13,
       2px 3px 2px #a42d13,
       3px 2px 2px #a42d13;
     transform: rotate(-8deg) translateY(16px) translateX(0px);
     letter-spacing: -5px;
     color: #fe5530;
   }


.logo ul {
    list-style: none; /* Remove bullet points */
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 48px;
    margin-top: 18px;
}

.logo.hidden ul li {
    transform: translateX(-100px);
    opacity: 0;
}

.logo ul li {
    margin-right: 30px; /* Adjust spacing between icons as needed */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.logo ul li a {
    color: #ff7d58; /* Inherit color from parent */
    text-decoration: none; /* Remove underline */
    font-size: 1.2em; /* Adjust icon size as needed */
    filter: drop-shadow(2px 3px 1px #a42d13);
}

@media (max-width: 768px) {
    .logo {
        position: fixed;
        top: 10px;
        left: 20px;
        font-size: 2em;
        line-height: 2em;
         width: 1.6em;
       }

       .logo h1:before {
         height: 1.2em;
         width: 1.2em;
         left: -6px;
         top: -8px;
         border: 10px solid #ff6944;
       }

       .logo h1 {
         font-size: 1.6em;
         text-shadow: 0 1px 0px #a42d13,
           1px 0 0px #a42d13,
           -1px -2px 1px #a42d13,
           -2px 2px 1px #a42d13,
           1px 2px 1px #a42d13,
           2px 1px 1px #a42d13,
           2px 3px 2px #a42d13,
           3px 2px 2px #a42d13;
         letter-spacing: -5px;
       }


    .logo ul {
        margin-left: 36px;
        margin-top: 18px;
    }

    .logo ul li {
        margin-right: 20px; /* Adjust spacing between icons as needed */
    }

    .logo ul li a {
        font-size: .8em; /* Adjust icon size as needed */
        filter: drop-shadow(2px 3px 1px #a42d13);
    }

}